[submodule "RDF"]
	path = RDF
	url = https://github.com/ziweiq-29/RDF.git
[submodule "halo"]
	path = halo
	url = git@github.com:ziweiq-29/halo.git
	branch = master
[submodule "midas"]
	path = midas
	url = https://github.com/ziweiq-29/MIDAS.git
[submodule "riken"]
	path = riken
	url = https://github.com/ziweiq-29/riken.git
[submodule "DSSIM"]
	path = DSSIM
	url = https://github.com/ziweiq-29/DSSIM.git
[submodule "compression_framework"]
	path = compression_framework
	url = https://github.com/ziweiq-29/compression_framework.git
	branch = feature/qoi_rdf
